/*fonts*/

/* inter-regular - latin_cyrillic */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/inter-v7-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("assets/fonts/inter-v7-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("assets/fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("assets/fonts/inter-v7-latin_cyrillic-regular.woff") format("woff"),
		/* Modern Browsers */ url("assets/fonts/inter-v7-latin_cyrillic-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("assets/fonts/inter-v7-latin_cyrillic-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin_cyrillic */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("assets/fonts/inter-v7-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
	src: local(""), url("assets/fonts/inter-v7-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("assets/fonts/inter-v7-latin_cyrillic-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("assets/fonts/inter-v7-latin_cyrillic-700.woff") format("woff"),
		/* Modern Browsers */ url("assets/fonts/inter-v7-latin_cyrillic-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("assets/fonts/inter-v7-latin_cyrillic-700.svg#Inter") format("svg"); /* Legacy iOS */
}
:root {
	--font-first: 1.125rem;
	--font-second: 1.25rem;
	--color-gold: #bdae82;
	--color-black: #000;
	--color-white: #fff;
}
* {
	padding: 0;
	margin: 0;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	min-height: 100%;
	font-family: "Inter";
	font-size: var(--font-first);
	background-color: var(--color-black);
	color: var(--color-white);
}
a {
	text-decoration: none;
	font-family: inherit;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.container {
	/* max-width: 1940px; */
	margin: 0 auto;
	padding: 0 5vw;
}
.list {
	list-style: none;
}
/*header styles start*/
.header__logo .icon {
	width: 50px;
	height: 50px;
}
.icon {
	fill: var(--color-white);
	transition: 0.8s;
}
.icon:hover {
	fill: var(--color-gold);
}
.header-container {
	height: 90px;
	display: flex;
	gap: 2vw;
	justify-content: space-between;
	align-items: center;
}
.header__nav {
	margin-left: auto;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
}
.list__item {
}
.list__item a {
	font-size: var(--font-second);
	color: var(--color-white);
	transition: color 0.8s;
}
.list__item:hover a {
	color: var(--color-gold);
}
.active {
	color: var(--color-gold);
}

/* header styles end*/

/* main stales start*/
.main {
	flex: 1 1 auto;
}
.container-main {
}
.video__player {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.video__player img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.video__button {
	position: absolute;
	background-color: transparent;
	border: 0;
}
.video__button svg {
	max-width: 100%;
	background-color: transparent;
}
/*main styles end*/

/*footer styles start*/
.footer .container {
	background-color: var(--color-black);
}
.footer__items {
	display: flex;
	align-items: center;
	height: 90px;
	justify-content: space-between;
	font-size: var(--font-second);
}
.footer__author {
	display: flex;
	gap: 20px;
}
.footer__author a,
.footer__school-link a {
	font-family: "Inter";
	font-size: var(--font-second);
	text-align: right;
	color: var(--color-white);
	transition: color 0.8s;
}
.footer__school-link:hover a,
.footer__author:hover a {
	color: var(--color-gold);
}
.rss {
	width: 150px;
	height: 70px;
}

/*****************media query**********************/

@media (max-width: 768px) {
	.play {
		width: 75px;
		height: 75px;
	}
	.rss {
		width: 70px;
		height: 35px;
	}
}
