/*fonts*/
/* inter-regular - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/inter-v7-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""), url("assets/fonts/inter-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("assets/fonts/inter-v7-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("assets/fonts/inter-v7-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("assets/fonts/inter-v7-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("assets/fonts/inter-v7-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("assets/fonts/inter-v7-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""), url("assets/fonts/inter-v7-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("assets/fonts/inter-v7-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("assets/fonts/inter-v7-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("assets/fonts/inter-v7-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("assets/fonts/inter-v7-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}

/* merriweather-700 - latin */
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: url("assets/fonts/merriweather-v28-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""), url("assets/fonts/merriweather-v28-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("assets/fonts/merriweather-v28-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("assets/fonts/merriweather-v28-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("assets/fonts/merriweather-v28-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("assets/fonts/merriweather-v28-latin-700.svg#Merriweather") format("svg"); /* Legacy iOS */
}
:root {
	--font-first: 18px;
	--font-second: 20px;
	--color-gold: #bdae82;
	--color-black: #000;
	--color-white: #fff;
}
* {
	padding: 0;
	margin: 0;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	min-height: 100%;
	font-family: "Inter";
	font-size: var(--font-first);
	background-color: var(--color-black);
	color: var(--color-white);
}
a {
	text-decoration: none;
	font-family: inherit;
}
.wrapper {
}
.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: var(--color-black);
}
.list {
	list-style: none;
}
/*header styles start*/
.header__logo .icon {
	width: 50px;
	height: 50px;
	fill: var(--color-white);
}
.icon {
	fill: var(--color-white);
	transition: 0.8s;
}
.icon:hover {
	fill: var(--color-gold);
}
.header-container {
	height: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	background: url("assets/img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center 0;
}
.header__nav {
	margin-left: auto;
}
.header__list {
	display: flex;
	gap: 30px;
}
.list__item {
	line-height: 50px;
}
.list__item a {
	font-size: var(--font-second);
	color: var(--color-white);
	transition: color 0.7s;
}
.list__item:hover a {
	color: var(--color-gold);
}
.header__lang span {
	padding: 0 8px;
}
.header__link {
	color: var(--color-white);
	transition: color 0.7s;
}
.header__link:hover {
	color: var(--color-gold);
}
.active {
	color: var(--color-gold);
}
.section-title {
	margin: 0 auto;
	font-family: "Merriweather";
	font-weight: 700;
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	color: var(--color-gold);
}
.title__wrap {
	width: 50%;
	margin: 0 auto;
	overflow-x: hidden;
	text-align: center;
}
.skills__header {
}
.title__wrap h2::before,
.title__wrap h2::after {
	position: relative;
	content: "";
	width: 70%;
	display: inline-block;
	height: 2px;
	vertical-align: middle;
	background: var(--color-gold);
}
.title__wrap h2::before {
	right: 20px;
	margin-left: -50%;
}
.title__wrap h2::after {
	left: 20px;
	margin-right: -50%;
}

/* header styles end*/
/* hero stales start*/
.main {
}
.hero-container {
	height: 820px;
	margin: 0 -20px;
	margin-bottom: 100px;
	background-image: url("assets/img/bg.jpg");
	background-position: center -90px;
	background-repeat: no-repeat;
}
.hero {
	padding: 160px 0 0 80px;
}
.hero__title {
	margin-bottom: 10px;
	font-family: Merriweather;
	font-weight: bold;
	font-size: 60px;
	line-height: 120px;
}
.hero__description {
	max-width: 470px;
	margin-bottom: 25px;
	font-size: var(--font-second);
	line-height: 40px;
}
.hero__btn {
	font-size: var(--font-second);
	line-height: 40px;
	text-align: center;
	background-color: var(--color-gold);
	color: var(--color-black);
	transition: color 2s, border 0.5s, background 0.1s;
}
.btn {
	height: 55px;
	width: 220px;
	font-family: inherit;
	border: 0;
	cursor: pointer;
}
.hero__btn:hover,
.hero__btn:active {
	background: var(--color-black);
	border: 2px solid var(--color-gold);
	color: var(--color-gold);
}
/*styles for skills start*/
.skills {
	min-height: 480px;
}
.skills__block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
}
.skills__element {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.skills__element {
	flex: 0 1 280px;
	background-position: center 60px;
}
.skills__element:nth-child(1) {
	background: url(assets/svg/vector1.svg) center 60px /62px 50px no-repeat;
}
.skills__element:nth-child(2) {
	background: url(assets/svg/vector2.svg) center 60px/60px 50px no-repeat;
}
.skills__element:nth-child(3) {
	background: url(assets/svg/vector3.svg) center 60px/66px 50px no-repeat;
}
.skills__element:nth-child(4) {
	background: url(assets/svg/Vector4.svg) center 60px/32px 50px no-repeat;
}
.skills__title {
	padding-top: 160px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: var(--font-second);
	line-height: 40px;
	text-align: center;
}
.skills__subtitle {
	text-align: center;
	line-height: 36px;
	font-size: var(--font-first);
}
/*skills styles end*/

/*portfolio styles start*/
.portfolio__header {
	margin-bottom: 60px;
}
.portfolio__seasons {
	margin-bottom: 60px;
	display: flex;
	gap: 5px;
	justify-content: center;
	flex-wrap: wrap;
}
.portfolio__btn {
	font-size: var(--font-second);
	line-height: 40px;
	text-align: center;
	background-color: transparent;
	border: 2px solid var(--color-gold);
	border-radius: 0px;
	color: var(--color-gold);
	transition: color 2s, border 0.5s, background 0.1s;
}
.portfolio__btn:hover,
.portfolio__btn:active {
	background: var(--color-gold);
	color: var(--color-black);
	border: 2px solid var(--color-gold);
}
.active-btn {
	background: var(--color-gold);
	color: var(--color-black);
}
.portfolio__images {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.portfolio__images img {
	max-width: 100%;
}
/*portfolio styles end*/
/*video styles start*/
.video {
	margin-bottom: 100px;
}
.video-header {
	margin-bottom: 60px;
}
.video__player {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video__item {
}

.video__button img {
	position: absolute;
	left: 636px;
	top: 288px;
	max-width: 100%;
}
/*player styles end*/
/*price styles start*/
.price-header {
	margin-bottom: 60px;
}
.price {
	padding-bottom: 100px;
}

.price__items {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.price__element {
	flex: 1;
	border: 3px solid var(--color-gold);
	box-sizing: border-box;
	border-radius: 0;
	padding-bottom: 40px;
}
.price__title {
	margin-bottom: 20px;
	padding-top: 43px;
	font-family: Merriweather;
	font-weight: bold;
	font-size: 28px;
	line-height: 56px;
	text-align: center;
	color: var(--color-white);
}
.price__subtitle {
	margin-bottom: 20px;
	font-family: Merriweather;
	font-weight: bold;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	color: var(--color-gold);
}
.price__description {
	margin-bottom: 40px;
	line-height: 36px;
	text-align: center;
	color: var(--color-white);
}
.price__description span {
	display: block;
}
.price__button {
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	font-size: var(--font-second);
	line-height: 40px;
	text-align: center;
	color: var(--color-black);
	background: var(--color-gold);
	transition: color 2s, border 0.5s, background 0.1s;
}
.price__button:hover,
.price__button:active {
	border: 2px solid var(--color-gold);
	color: var(--color-gold);
	background: var(--color-black);
}
/*price styles and*/

/*contact styles start*/
.contacts {
}
.contacts-container {
	height: 700px;
	background: url("assets/img/contacts.jpg") no-repeat;
	background-size: auto 700px;
	background-position: center center;
}
.contacts__item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.contacts__header {
	width: 450px;
	padding-top: 60px;
	margin-bottom: 40px;
	font-family: Merriweather;
	font-weight: bold;
	font-size: 40px;
	line-height: 80px;
	color: var(--color-gold);
	text-align: left;
}
.contacts-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contacts-form input,
.contacts-form textarea {
	width: 450px;
	border: 2px solid var(--color-gold);
	font-family: "Inter";
	background: transparent;
	vertical-align: top;
}
.contacts-form input {
	height: 50px;
}

::placeholder {
	padding-left: 20px;
	padding-top: 5px;
	font-family: "Inter";
	color: var(--color-gold);
	font-size: var(--font-second);
	line-height: 40px;
}
.contacts-form textarea {
	height: 100px;
	resize: none;
	margin-bottom: 10px;
}
.contacts__btn {
	font-family: "Inter";
	font-size: var(--font-second);
	line-height: 40px;
	text-align: center;
	color: var(--color-black);
	background: var(--color-gold);
	border-radius: 0px;
	transition: color 2s, border 0.5s, background 0.1s;
}
.contacts__btn:hover,
.contacts__btn:active {
	background: var(--color-black);
	color: var(--color-gold);
	border: 2px solid var(--color-gold);
}
/*contacts styles and*/

/*footer styles start*/
.footer .container {
	height: 150px;
}
.footer__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 150px;
	font-family: "Inter";
	font-size: var(--font-second);
	text-align: center;
	color: var(--color-white);
}
.footer__author {
	display: flex;
	gap: 20px;
}
.footer__author a,
.footer__school-link a {
	font-family: "Inter";
	font-size: var(--font-second);
	text-align: right;
	color: var(--color-white);
	transition: color 0.8s;
}
.footer__school-link a {
	padding-left: 22px;
}
.footer__school-link:hover a,
.footer__author:hover a {
	color: var(--color-gold);
}
.footer__list {
	display: flex;
	gap: 20px;
	align-items: center;
}
.icon-inst {
	width: 32px;
	height: 32px;
}
.icon-fb {
	width: 32px;
	height: 32px;
}
.icon-tw {
	width: 32px;
	height: 32px;
}
.icon-pinterest {
	width: 32px;
	height: 32px;
}
